@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.navbar {
  background-color: #007bff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #0056b3;
  font-family: 'Montserrat', sans-serif; /* Yeni fontu buraya ekledik */
}

.navbar-brand {
  font-weight: 700;
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.navbar-brand:hover {
  color: #ffeb3b;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffeb3b;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-link.logout {
  cursor: pointer;
}

.navbar-nav .nav-item.active .nav-link {
  font-weight: 700;
  color: #ffeb3b;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  justify-content: flex-end;
}

.container-fluid {
  max-width: 1200px;
}

/* Responsive Tasarım */
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
}
