.container {
          max-width: 500px;
        }
        
        h2 {
          color: #007bff;
        }
        
        .form-control {
          border-radius: 0;
          box-shadow: none;
        }
        
        .btn {
          border-radius: 0;
          box-shadow: none;
        }
        