/* map.component.css */
.map {
  height: 500px;
  width: 100%;
}

.map-controls {
  display: flex;
  align-items: center;
}

.map-controls label {
  margin-right: 10px;
}

.map-controls select {
  margin-right: 10px;
}

.map-controls button {
  margin-left: 10px;
}

.card-header {
  font-weight: bold;
}
.toast-success {
  background-color: #28a745; 
}